@use "src/styles/_breakpoints.scss" as *;

@font-face {
  font-family: FiraGOBold;
  src: url(/src/assets/fonts/FiraGO/FiraGO-ExtraBold.otf);
}

.date-container {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 80px 120px 170px 120px;
  margin: auto;
  max-width: 130rem;

  h1 {
    font-family: FiraGOBold;
    line-height: 64px;
    width: 50%;
    font-size: 48px;
    color: #214476;
    width: 100%;
    text-align: center;
  }

  .info-container {
    padding: 0 200px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: auto;
    align-items: center;

    p {
      line-height: 36px;
      font-size: 20px;
      width: 70%;
      color: #1e1e1e;
      line-height: 40px;
    }

    .header {
      font-family: FiraGOBold;
      color: #00255e;
      font-size: 28px;
      font-weight: 700;
      line-height: 42px;
    }

    .background {
      background-color: #4528c9;
      border-radius: 50px;

      img {
        width: 100%;
      }
    }

    .container {
      border-radius: 50px;
      position: relative;

      img {
        width: 100%;
      }

      .time-left {
        width: max-content;
        border-radius: 50px;
        background-color: #f2f2f2cc;
        padding: 30px;
        position: absolute;
        top: 15%;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20px;

        .bottom-side {
          display: flex;
          gap: 20px;

          h1 {
            color: #4528c9;
          }

          h1,
          p {
            margin: 0;
            text-wrap: nowrap;
          }

          h1 {
            letter-spacing: 0.02em;
          }

          p {
            color: #514d4f;
          }

          div {
            min-width: 60px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1501px) and (max-width: $desktop) {
  .date-container {
    padding: 60px 100px 140px 100px;

    .info-container {
      padding: 0 100px;
    }
  }
}

@media only screen and (min-width: $tablet) and (max-width: 1500px) {
  .date-container {
    gap: 60px;
    padding: 40px 70px 100px 70px;

    h1 {
      font-size: 35px;
    }

    .info-container {
      padding: 0 60px;

      .background {
        max-width: 800px;
      }

      p {
        width: 80%;
        line-height: 36px;
      }

      .container {
        max-width: 800px;
      }
    }
  }
}

@media only screen and (min-width: $mobile) and (max-width: calc($tablet - 1px)) {
  .date-container {
    gap: 30px;
    padding: 20px 30px 50px 30px;

    h1 {
      font-size: 22px;
    }

    .info-container {
      padding: 0;

      .background {
        width: 85%;
        max-width: 800px;
      }

      p {
        width: 80%;
        line-height: 36px;
        font-size: 16px;
      }

      .container {
        width: 85%;
        max-width: 800px;

        .time-left {
          padding: 15px;
          gap: 10px;

          .bottom-side {
            gap: 10px;

            div {
              min-width: 60px;

              h1 {
                font-size: 26px;
              }

              p {
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 0) and (max-width: $mobile) {
  .date-container {
    gap: 15px;
    padding: 10px 15px 30px 15px;

    h1 {
      font-size: 22px;
      line-height: normal;
    }

    .info-container {
      padding: 0;
      gap: 20px;

      .header {
        font-size: 22px;
      }

      .background {
        max-width: 600px;
        width: 90%;
      }

      p {
        width: 90%;
        line-height: 25px;
        font-size: 16px;
      }

      .container {
        width: 90%;
        max-width: 600px;

        .time-left {
          padding: 15px;
          gap: 10px;
          top: 10%;

          .bottom-side {
            gap: 10px;

            div {
              min-width: 40px;

              h1 {
                font-size: 20px;
              }
              p {
                font-size: 14px;
              }
            }
          }
          button {
            padding: 10px 20px;
            line-height: 15px;
            font-size: 0.9em;
            align-self: center;
          }
        }
      }
    }
  }
}
