@use "src/styles/_breakpoints.scss" as *;

@font-face {
  font-family: FiraGOBold;
  src: url(/src/assets/fonts/FiraGO/FiraGO-ExtraBold.otf);
}

.date--section {
  padding: 60px 0 120px 0;

  h1 {
    text-align: center;
    font-family: FiraGOBold;
    color: #00255e;
    margin-bottom: 50px;
  }

  .container {
    display: flex;
    justify-content: center;
    max-width: 130rem;
    margin: auto;
    gap: 25px;
    padding: 0 300px;

    .left-side {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      padding: 40px 0;
      position: relative;

      p {
        color: #1e1e1e;
        font-size: 20px;
        line-height: 40px;
        max-width: 600px;
      }

      .date-container {
        position: absolute;
        top: 35%;
        background-color: rgba(69, 40, 201, 1);
        border-radius: 50px;
        padding: 0;
      }

      button {
        padding: 20px 40px;
        border-radius: 15px;
        font-family: inherit;
        font-weight: inherit;
        line-height: 19px;
        outline: none;
        border: none;
        font-size: 1.1em;
        cursor: pointer;
        background-color: #165ce2;
        color: #ffffff;
        transition: transform 0.5s;

        &:hover {
          transform: translateX(10px);
        }
      }
    }
  }
}

@media only screen and (min-width: 1501px) and (max-width: $desktop) {
  .date--section {
    .container {
      .left-side {
        p {
          width: 500px;
        }

        .date-container {
          padding: 0;
          top: 43%;

          img {
            max-width: 650px;
          }
        }
      }
      .right-side {
        img {
          max-width: 620px;
        }
      }
    }
  }
}

@media only screen and (min-width: $tablet) and (max-width: 1500px) {
  .date--section {
    .container {
      padding: 0 80px;

      .left-side {
        p {
          width: 500px;
        }
        .date-container {
          padding: 0;
          top: 44%;

          img {
            max-width: 600px;
          }
        }
      }
      .right-side {
        img {
          max-width: 580px;
        }
      }
    }
  }
}

@media only screen and (min-width: 0) and (max-width: calc($tablet - 1px)) {
  .date--section {
    h1 {
      margin-bottom: 0;
      font-size: 22px;
    }
    .container {
      padding: 0 50px;
      flex-direction: column;

      .left-side {
        padding: 40px 0 0 0;
        gap: 30px;
        margin: auto;
        max-width: 600px;

        p {
          max-width: 100%;
          font-size: 16px;
          line-height: 25px;
        }

        .date-container {
          position: inherit;
          padding: 0;
          margin: 0;
          max-width: 500px;
        }
        a {
          button {
            padding: 10px 20px;
            line-height: 15px;
            font-size: 0.9em;
          }
        }
      }
      .right-side {
        display: none;
      }
    }
  }
}

@media only screen and (min-width: 520px) and (max-width: $mobile) {
  .date--section {
    .container {
      .left-side {
        max-width: 560px !important;
      }
    }
  }
}

@media only screen and (min-width: 0) and (max-width: $mobile) {
  .date--section {
    padding: 30px 0;
    .container {
      padding: 0 20px;
      flex-direction: column;

      .left-side {
        max-width: 360px;
      }
    }
  }
}
